.main {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.preview {
  display: flex;
  flex: 3;
  align-items: center;
  justify-content: center;
}

.code {
  display: flex;
  flex: 4;
  background-color: #F5F5FF;
  justify-content: center;
  flex-direction: column;
  overflow: scroll;
  padding-left: 20px;
  border-left: solid 1px #ccc;
}

.phone {
  position: relative;
  display: flex;
  width: 320px;
  height: 568px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-family: Helvetica, sans-serif;
}

#error, #display {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

#error, #display, #display * {
  display: flex;
  flex-direction: column;
}

#error {
  align-items: center;
  justify-content: center;
  padding: 30px;
  color: red;
}

.CodeMirror {
  height: auto;
  background-color: #F5F5FF !important;
  font-family: Menlo, Monaco, monospace;
  font-size: 12px;
}
